.container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0px 1px;
    align-items: end;
}

.nav_item{
    color: black;
    text-decoration: none;
    font-size: 8px;

}

.picture2{
    width: 100px;
    height: 100px;
}

.nav_items{
  display: flex;
  gap: 12px;
  font-family: "Raleway", sans-serif;
}

a:hover{
    color: green;
    text-decoration-color: green;
}

.picture{
    width: 160px;
    height: 50px;
}

.padding_top_container{
    padding-top: 25px;
}

.shadow{
    display: flex;
    justify-content: space-around;
    box-shadow: 0px 1px;
    align-items: end;
}

.h1_tag{
    padding-right: 80px;
    padding-left: 25px;
    font-family: "Economica", sans-serif;
    font-size: 15px;
    
}

.nav_items{
    font-family: "Raleway", sans-serif;
}

.nav1{
    text-decoration: none;
    color: black;
    font-size: 5px;
}

.button:hover{
    text-decoration: underline;
    cursor: pointer;
}

.a:hover{
    text-decoration: underline;
    cursor: pointer;
}

.center-class{
    display: f;
    justify-content: center;
    box-shadow: 0px 1px;
}

.title_font{
    font-family: "Economica", sans-serif;
    font-size: 10px;
}

.picture{
    width: 160px;
    height: 160px;
    
}

.timer_min_container{
    display: flex;
    gap: 10px
}

.min_container{
    background-color: lightgray;
    padding: 2px;
    font-size: 10px;
    font-family: "Raleway", sans-serif;
    display: flex;
    justify-content: center;
}

.simpel_container{
    background-color: lightgray;
    padding: 2px;
    font-size: 10px;
    font-family: "Raleway", sans-serif;
}

.x_container{
    background-color: lightgray;
    padding: 2px;
    font-size: 10px;
    font-family: "Raleway", sans-serif;
}

.container{
    display: flex;
    gap: 10px;
}

.p_zutaten{
    font-size: 5px;
}

.number_container{
    width: 80px;
    height: 10px;
    align-items: center;
}

.button_container{
    background-color: green;
    height: 20px;
    font-family: "Raleway", sans-serif;
}

.conchiglioni{
    background-color: gray;
    font-family: "Raleway", sans-serif;
    font-size: 5px;
}

.knoblauchzehe{
    font-family: "Raleway", sans-serif;
}

.zubereitungs_container{
    font-family: "Economica", sans-serif;
}

.p_container{
    display: flex;
    gap: 15px;
}

.rezept_container{
    font-family: "Economica", sans-serif;
}

.alexander_container_profilepicture{
    display: flex;
}

.alexander_container{
    padding-left: 40px;
    font-family: "Raleway", sans-serif;
}


.main_wrapper{
    display: block;
    justify-content: center;
}

.main_container{
    width: 75%;
    margin: 0 auto;
    justify-content: start;
}

.main_picture{
    height: 300px;
    width: 100%;
    border-radius: 10px;
}

.black_footer_box{
    background-color: black;
    display: flex;
    justify-content: space-between;
}

.Social-Media{
    display: flex;
}

.footer-socialmedia{
    width: 50px;
}
    