.container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0px 1px;
    align-items: end;
}

.picture{
    height: 45px;
    width: auto;
}

.nav_items{
    font-family: "Raleway", sans-serif;
}

.nav_item{
    color: black;
    text-decoration: none;
    font-size: 8px;

}

a:hover{
    color: green;
    text-decoration-color: green;
}