.headline-picture {
    height: 300px;
    object-fit: cover;
    aspect-ratio: 1 / 1;
}

tr:nth-child(odd) {
    background-color: #EFEFEF;
}

table {
    width: 100%;
    margin-bottom: 40px;
}

td {
    border-radius: 8px;
    padding: 16px 24px;
}