.sandwich_photo {
  height: 300px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  padding-bottom: 32px;
}

.rezept_info {
  padding-bottom: 32px;
  gap: 20px;
}

.rezept_Zutaten {
  align-items: center;
  background-color: #efefef;
  padding: 4px 8px;
  border-radius: 8px;
  gap: 16px;
}

.symbol_icon {
  height: 14px;
  border-radius: 0;
}

.mengenanpassung_container {
  border-top: 1px solid #efefef;
  padding: 8px 0;
  align-items: center;
}

input {
  border: 1px solid #efefef;
  border-radius: 8px;
  padding: 12px 0;
  margin-left: 16px;
  width: 120px;
}

table {
  margin-bottom: 32px;
}

tr:nth-child(odd) {
  background-color: #efefef;
}

td {
  border-radius: 8px;
  padding: 16px 24px;
}

.recipe-responsible {
  align-items: center;
  gap: 30px;
  margin-bottom: 32px;
}

.name {
  font-size: 24px;
}
