html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    margin: 0;
    scroll-behavior: smooth;
    font-family: "Raleway", sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.full-width {
    width: 100%;
}

main {
    flex: 1;
}

section {
    display: flex;
}

.hero-section {
    display: block;
}

button {
    color: white;
    background-color: #008000;
    border-radius: 8px;
    border: 0;
    cursor: pointer;
    padding: 8px 32px;
}

.croissant {
    height: 250px;
    width: 250px;
}

img {
    border-radius: 8px;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 30px;
}

a {
    text-decoration: none;
    font-weight: 600;
    color: black;
}

a:hover {
    color: #008000;
}

.news-section {
    width: 100%;
    background-color: #efefef;
    display: block;
    padding: 60px 0;
}

.news-section .wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 16px;
    text-align: center;
}

.news-section .wrapper {
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 16px;
}


footer {
    margin: 0;
    padding: 0;
    background-color: #232323;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-socialmedia {
    height: 70px;
    margin-left: 20px;
}

.logo-footer {
    height: 80px;
}