*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.content-limitation {
  max-width: 1440px;
  margin: 0 auto;
}

/* .full-width {
   width: calc(100% + 96px); 
  /Padding aus Body wieder kompensieren 
   margin-left: -48px; 
   margin-right: -48px; 
   width: 100%; 
 } */

body {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  /* padding-left: 48px; 
  padding-right: 48px;  */
  width: 100%;
}

main {
  flex: 1;
}

section {
  display: flex;
  flex-direction: column;
}

/* div {
  display: flex;
} */

button {
  color: white;
  background-color: #008000;
  border-radius: 8px;
  border: 0;
  cursor: pointer;
  padding: 12px 32px;
}

img {
  border-radius: 8px;
}

h1 {
  font-size: 50px;
  margin: 0;
  padding-top: 60px;
  padding-bottom: 24px;
  margin-block-start: 0;
  margin-block-end: 0;
}

h2 {
  font-size: 30px;
  margin: 0;
  padding-bottom: 16px;
  margin-block-start: 0;
  margin-block-end: 0;
}

h3 {
  font-size: 16px;
  margin: 0;
  padding-bottom: 16px;
}

.h2-padding-top {
  padding-top: 48px;
}

.h3-padding-top {
  padding-top: 32px;
}

p {
  margin-block-start: 0;
  margin-block-end: 0;
}

a {
  text-decoration: none;
  font-weight: 600;
  color: black;
}

a:hover {
  color: #008000;
}

ul {
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}

/* nav */

header {
  border-bottom: 4px solid #e8e8e8;
  box-shadow: 0 15px 25px 1px #efefef;
  display: flex;
  justify-content: center;
  height: 100px;
}

.header-container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex: 1;
  margin-left: 48px;
  margin-right: 48px;
}

.header-footer-logo {
  height: 80px;
}

nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav li {
  height: 50px;
}

nav a {
  height: 100%;
  text-decoration: none;
  display: flex;
  align-items: flex-end;
}

.nav_items {
  display: flex;
  gap: 16px;
  margin-bottom: 8px;
}

.content-nav {
  position: relative;
}

.sidebar {
  position: fixed;
  top: 100px;
  right: -250px;
  /* Gleiche Breite wie die Sidebar, nur negativ */
  width: 250px;
  height: 200px;
  background-color: #efefef;
  z-index: 1000;
  transition: right 0.5s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 16px;
  padding-left: 16px;
  margin: 0;

}

.sidebar-open {
  right: 0;
}

.sidebar a:hover {
  background-color: rgb(150, 150, 150);
}

.sidebar li {
  width: 100%;
}

.sidebar a {
  width: 100%;
}

.hiddenFullSize {
  display: none;
  height: 24px;
  cursor: pointer;

}

/* hier break */

.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.hero-container {
  display: flex;
  gap: 40px;
  padding-left: 48px;
  padding-right: 48px;
}

.hero-image {
  height: 300px;
  aspect-ratio: 3 / 2;
  object-fit: cover;
}

.dish-of-the-day-description-container {
  display: flex;
  flex-direction: column;
}

.dotd-description {
  flex: 1;
}

.dotd-button-container {
  margin-top: 30px;
  margin-bottom: 30px;
}

.dotd-button {
  margin-bottom: 30px;
  color: white;
  background-color: #008000;
  border-radius: 8px;
  border: 0;
  cursor: pointer;
  padding: 12px 32px;
}

.dotd-button:hover {
  color: white;
}

.recipes-section {
  background-color: #efefef;
  /* width: 100vw; */
  width: 100%;
}

.recipes-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-right: 48px;
  padding-left: 48px;
  text-align: center;
}

.dish-image-container {
  display: flex;
  padding-top: 30px;
  justify-content: space-between;
  width: 100%;
}

.dish-image {
  height: 200px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.news-section {
  align-items: center;
  padding-left: 48px;
  padding-right: 48px;
}

.news-section-article {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 24px;
  width: 100%;
}

.news-section-article span {
  flex: 1;
  text-align: center;
}

.section-padding-top-bottom {
  padding-top: 40px;
  padding-bottom: 90px;
}

footer {
  background-color: #232323;
  height: 150px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  margin-left: 48px;
  margin-right: 48px;
}

.footer-socialmedia {
  height: 60px;
  margin-left: 20px;
}

@media (max-width: 1150px) {
  /* body {
    padding-left: 32px;
    padding-right: 32px;
  } */

  .hero-image {
    height: 200px;
  }

  .dish-image {
    height: 150px;
  }
}

@media (max-width: 850px) {
  /* body {
    padding-left: 16px;
    padding-right: 16px;
  } */

  .header-footer-logo {
    height: 60px;
  }

  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 20px;
  }

  nav a {
    align-items: flex-start;
    justify-content: center;
  }

  a:hover {
    color: black;
  }

  .hiddenFullSize {
    display: flex;
  }

  .hideOnMobile {
    display: none;
  }

  .menu-icon {
    margin-bottom: 16px;
  }

  .hero-image {
    aspect-ratio: 1 / 1;
    width: 400px;
    height: 250px;
  }

  .hero-container {
    flex-direction: column;
    align-items: center;
    padding-bottom: 0;
    display: flex;
  }

  .hero-container h2 {
    text-align: center;
  }

  .dish-of-the-day-description-container{
    align-items: center;
  }

  .dish-of-the-day-description-container a{
    padding-top: 16px;
  }

  .dish-image-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer-socialmedia {
    height: 50px;
  }
}

@media (max-width: 770px) {

  h1 {
    padding-bottom: 0;
    padding-top: 30px;
  }

  .dish-of-the-day-description-container {
    align-items: center;
  }

  .dotd-description {
    margin-bottom: 16px;
  }

  .dotd-button {
    margin-bottom: 0;
  }

  .recipes-container {
    flex-direction: column;
    display: flex;
  }

  .section-padding-top-bottom {
    padding-top: 24px;
    padding-bottom: 40px;
  }



  .news-section {
    gap: 0;
  }

  .news-section-article {
    flex-direction: column;
    display: flex;
    align-items: center;
    gap: 24px;
  }

  .news-section-article img {
    height: 200px;
    width: 250px;
  }
}

@media (max-width: 530px) {
  .footer-socialmedia {
    height: 35px;
    margin-left: 10px;
  }

  .header-footer-logo {
    height: 50px;
  }
}