html {
  scroll-behavior: smooth;
}

.content-limitation {
  max-width: 1440px;
  padding-left: 160px;
  padding-right: 160px;
}

.full-width {
  width: 100%;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  min-height: 100vh;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

section {
  display: flex;
  flex-direction: column;
}

div {
  display: flex;
}

button {
  color: white;
  background-color: #008000;
  border-radius: 8px;
  border: 0;
  cursor: pointer;
  padding: 12px 32px;
}

img {
  border-radius: 8px;
}

h1 {
  font-size: 50px;
  margin: 0;
  padding-top: 60px;
  padding-bottom: 24px;
}

h2 {
  font-size: 30px;
  margin: 0;
  padding-bottom: 16px;
}

h3 {
  font-size: 16px;
  margin: 0;
  padding-top: 32px;
  padding-bottom: 16px;
}

.h2-padding-top {
    padding-top: 48px;
}

p {
  margin-block-start: 0;
  margin-block-end: 0;
}

a {
  text-decoration: none;
  font-weight: 600;
  color: black;
}

a:hover {
  color: #008000;
}

/* nav */

header {
  border-bottom: 4px solid #e8e8e8;
  box-shadow: 0 15px 25px 1px #efefef;
  display: flex;
  justify-content: center;
  height: 100px;

  /* align-items: end; */
}

.header-container {
  align-items: flex-end;
  justify-content: space-between;
  flex: 1;
  /* border-bottom: 4px solid #e8e8e8;
    box-shadow: 0 15px 25px 1px #efefef;
    align-items: end; */
}

.header-footer-logo {
  height: 80px;
}

.nav_items {
  display: flex;
  gap: 16px;
  margin-bottom: 8px;
}

/* hier break */

.hero-section {
  flex-direction: column;
  align-items: center;
}

.hero-container {
  gap: 24px;
}

.hero-image {
  width: 400px;
  object-fit: cover;
}

.dish-of-the-day-description {
  flex-direction: column;
  justify-content: space-between;
}

.dotd-btn {
  margin-bottom: 30px;
}

.recipes-section {
  background-color: #efefef;
}

.recipes-container {
  flex-direction: column;
  align-items: center;
}

.dish-image-container {
  padding-top: 30px;
  gap: 40px;
}

.dish-image {
  height: 200px;
  width: 200px;
}

.news-section {
  align-items: center;
  gap: 32px;
}

.news-section-article {
  justify-content: center;
  gap: 24px;
}

.section-padding-top-bottom {
  padding-top: 40px;
  padding-bottom: 90px;
}

footer {
  background-color: #232323;
  height: 150px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer-container {
  justify-content: space-between;
  align-items: center;
  flex: 1;
}

.footer-socialmedia {
  height: 60px;
  margin-left: 20px;
}

@media (max-width: 1150px) {
  .hero-image {
    width: 350px;
  }

  .dish-image {
    height: 150px;
    width: 150px;
  }
}

@media (max-width: 950px) {
  h2 {
    font-size: 30px;
  }

  .hero-image {
    width: 248px;
  }
}

@media (max-width: 850px) {
  .header-footer-logo {
    height: 60px;
  }

  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 20px;
  }

  .footer-socialmedia {
    height: 50px;
  }
}

@media (max-width: 768px) {
  .nav_items {
    display: none;
  }

  .dish-of-the-day-content {
    flex-direction: column;
    align-items: center;
    padding-bottom: 0;
    margin-bottom: 24px;
  }

  .hero-image {
    width: 300px;
  }

  .dish-of-the-day-heading-responsive {
    text-align: center;
  }

  .btn-link {
    display: flex;
    justify-content: center;
    margin-top: 16px;
  }

  .dotd-btn {
    margin-bottom: 0;
  }

  .section-padding-top-bottom {
    padding-top: 24px;
    padding-bottom: 40px;
  }

  .dish-image-section {
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }

  .dish-image {
    height: 200px;
    width: 250px;
  }

  .news-section {
    gap: 0;
  }

  .news-section-article {
    flex-direction: column;
    display: flex;
    align-items: center;
    gap: 24px;
  }

  .news-section-article img {
    height: 200px;
    width: 250px;
  }
}

@media (max-width: 530px) {
  .footer-socialmedia {
    height: 35px;
    margin-left: 10px;
  }

  .header-footer-logo {
    height: 50px;
  }
}
