html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    margin: 0;
    scroll-behavior: smooth;
    font-family: "Raleway", sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

section {
    display: flex;
    flex-direction: column;
}

button {
    color: white;
    background-color: #008000;
    border-radius: 8px;
    border: 0;
    cursor: pointer;
    padding: 8px 32px;
}

img {
    border-radius: 8px;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 30px;
    margin-block-start: 0;
    margin-block-end: 0;
    margin: 0;
    padding-bottom: 8px;
}

h3 {
    font-size: 16px;
}

p {
    margin-block-start: 0;
    margin-block-end: 0;
}

a {
    text-decoration: none;
    font-weight: 600;
    color: black;
}

a:hover {
    color: #008000;
    font-weight: bold;
}

/* nav */
.container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0px 1px;
    align-items: end;
}

.nav_item {
    color: black;
    text-decoration: none;
    gap: 16px;

}

.picture2 {
    width: 100px;
    height: 100px;
}

.nav_items {
    display: flex;
    gap: 16px;
    font-family: "Raleway", sans-serif;
}

a:hover {
    color: green;
    text-decoration-color: green;
}

.picture {
    height: 80px;
}

.padding_top_container {
    padding-top: 25px;
}

/* hier break */

.full-width {
    width: 100%;
}

.margin-left-right {
    margin-left: 160px;
    margin-right: 160px;
}

.main-heading {
    display: flex;
    justify-content: center;
}

.dish-of-the-day {
    display: flex;
    gap: 24px;
    padding-bottom: 60px;
}

.dish-of-the-day-image {
    width: 300px;
}

.dish-of-the-day-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.dotd-btn{
    margin-bottom: 30px;
}

.recipes-section {
    width: 100%;
    background-color: #efefef;
    display: flex;
    padding-top: 30px;
    padding-bottom: 90px;
}

.wrapper-headline{
    padding-bottom: 30px;
}

.dish-image-section{
    display: flex;
    gap: 40px;
}

.dish-image {
    height: 200px;
    width: 250px;
}

.news-section{
    gap: 32px;
    display: flex;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 90px;
}

.news-section-div{
    display: flex;
    justify-content: center;
    gap: 4px;
}

.recipes-section .wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 16px;
    text-align: center;
}

.hero-section {
    display: block;
}

footer {
    margin: 0;
    padding: 0;
    background-color: #232323;
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-socialmedia {
    height: 60px;
    margin-left: 20px;
}

.logo-footer {
    height: 80px;
}


@media(max-width: 530px) {
    .footer-socialmedia {
        height: 35px;
        margin-left: 10px;
    }

    .logo-footer {
        height: 50px;
    }

}