*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.content-limitation {
  max-width: 1440px;
  margin: 0 auto;
}

.full-width {
  width: calc(100% + 96px);
  /* Padding aus Body wieder kompensieren */
  margin-left: -48px;
  margin-right: -48px;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding-left: 48px;
  padding-right: 48px;
}

main {
  flex: 1;
}

section {
  display: flex;
  flex-direction: column;
}

div {
  display: flex;
}

button {
  color: white;
  background-color: #008000;
  border-radius: 8px;
  border: 0;
  cursor: pointer;
  padding: 12px 32px;
}

img {
  border-radius: 8px;
}

h1 {
  font-size: 50px;
  margin: 0;
  padding-top: 60px;
  padding-bottom: 24px;
}

h2 {
  font-size: 30px;
  margin: 0;
  padding-bottom: 16px;
}

h3 {
  font-size: 16px;
  margin: 0;
  padding-bottom: 16px;
}

.h2-padding-top {
  padding-top: 48px;
}

.h3-padding-top {
  padding-top: 32px;
}

p {
  margin-block-start: 0;
  margin-block-end: 0;
}

a {
  text-decoration: none;
  font-weight: 600;
  color: black;
}

a:hover {
  color: #008000;
}

/* nav */

header {
  border-bottom: 4px solid #e8e8e8;
  box-shadow: 0 15px 25px 1px #efefef;
  display: flex;
  justify-content: center;
  height: 100px;
}

.header-container {
  align-items: flex-end;
  justify-content: space-between;
  flex: 1;
  margin-left: 48px;
  margin-right: 48px;
}

.header-footer-logo {
  height: 80px;
}

.nav_items {
  display: flex;
  gap: 16px;
  margin-bottom: 8px;
}

/* hier break */

.hero-section {
  flex-direction: column;
  align-items: center;
}

.hero-container {
  gap: 24px;
}

.hero-image {
  height: 300px;
  aspect-ratio: 3 / 2;
  object-fit: cover;
}

.dish-of-the-day-description-container {
  flex-direction: column;
  align-items: flex-start;
}

.dotd-description {
  flex: 1;
}

.dotd-button {
  margin-bottom: 30px;
}

.recipes-section {
  background-color: #efefef;
  /* width: 100vw; */
}

.recipes-container {
  flex-direction: column;
  align-items: center;
}

.dish-image-container {
  padding-top: 30px;
  gap: 40px;
}

.dish-image {
  height: 200px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.news-section {
  align-items: center;
  gap: 32px;
}

.news-section-article {
  justify-content: center;
  gap: 24px;
}

.section-padding-top-bottom {
  padding-top: 40px;
  padding-bottom: 90px;
}

footer {
  background-color: #232323;
  height: 150px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer-container {
  justify-content: space-between;
  align-items: center;
  flex: 1;
  margin-left: 48px;
  margin-right: 48px;
}

.footer-socialmedia {
  height: 60px;
  margin-left: 20px;
}

@media (max-width: 1150px) {
  body {
    padding-left: 32px;
    padding-right: 32px;
  }
  
  .hero-image {
    height: 225px;
  }

  .dish-image {
    height: 150px;
  }
}

@media (max-width: 850px) {
  body {
    padding-left: 16px;
    padding-right: 16px;
  }
  
  .header-footer-logo {
    height: 60px;
  }

  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 20px;
  }

  .hero-image {
    aspect-ratio: 1 / 1;
  }

  .footer-socialmedia {
    height: 50px;
  }
}

@media (max-width: 770px) {
  
  
  .nav_items {
    display: none;
  }


  .hero-container {
    flex-direction: column;
    align-items: center;
    padding-bottom: 0;
    margin-bottom: 24px;
  }

  .dotd-h2-responsive {
    text-align: center;
  }

  .dotd-button {
    margin-bottom: 0;
  }

  .section-padding-top-bottom {
    padding-top: 24px;
    padding-bottom: 40px;
  }

  .dish-image-section {
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }

  .news-section {
    gap: 0;
  }

  .news-section-article {
    flex-direction: column;
    display: flex;
    align-items: center;
    gap: 24px;
  }

  .news-section-article img {
    height: 200px;
    width: 250px;
  }
}

@media (max-width: 530px) {
  .footer-socialmedia {
    height: 35px;
    margin-left: 10px;
  }

  .header-footer-logo {
    height: 50px;
  }
}