
body{
    font-size: 16px;
    max-width: 1920px;
    margin: 0;
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Raleway", sans-serif;
    
}

section{
    display: flex;
}

button{
    color: white;
    background-color: #008000;
    padding: 8px 32px;
    border-radius: 8px;
    border: 0;
    cursor: pointer;
}

img{
    border-radius: 8px;
}

footer{
    background-color: #232323;
}

h1{
    font-size: 60px;
}

h2{
    font-size: 40px;
}

h3{
    font-size: 30px;
}

a{
    text-decoration: none;
    font-weight: 600;
    color: black;
}

a:hover{
    color: #008000;
}

.news-section{
    background-color: #efefef;
    width: 100vw;
}