
body{
    font-size: 16px;
    max-width: 1920px;
    margin: 0;
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Raleway", sans-serif;  
}

main{
    display: flex;
    flex-direction: column;
}

.hero-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px;
}

.hero-section-article{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.my-first-div{
    display: flex;
    gap: 20px;
}

.my-second-div{
    display: flex;
    flex-direction: column;
}

.hero-section-croissant{
    height: 200px;
    width: 300px;
}

button{
    color: white;
    background-color: #008000;
    border-radius: 8px;
    border: 0;
    cursor: pointer;
    padding: 8px 32px;
}

.news-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 40px 48px 40px;
    
}

.croissant-image-section{
    display: flex;
    gap: 100px;
}

.croissant{
    height: 200px;
    width: 250px;
    gap: 40px;
}

img{
    border-radius: 8px;
}

footer{
    background-color: #232323;
}

h1{
    font-size: 60px;
}

h2{
    font-size: 40px;
    margin-block-start: 0;
    margin-block-end: 0;
    margin: 0;
    padding-bottom: 8px;
}

h3{
    font-size: 30px;
}

a{
    text-decoration: none;
    font-weight: 600;
    color: black;
}

a:hover{
    color: #008000;
}

.news-section{
    background-color: #efefef;
    width: 100vw;
}

.article-section{
    justify-content: center;
    align-items: center;
    display: flex;
}