.headline-picture {
  height: 300px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  margin-bottom: 32px;
}

.generally-recipe-information-container {
  margin-bottom: 32px;
  gap: 20px;
}

.generally-recipe-information-item {
  align-items: center;
  background-color: #efefef;
  padding: 4px 8px;
  border-radius: 8px;
  gap: 16px;
}

.icon {
  height: 14px;
  border-radius: 0;
}

.ingredients-calculation-container {
  border-top: 1px solid #efefef;
  padding: 8px 0;
  align-items: center;
}

input {
  border: 1px solid #efefef;
  border-radius: 8px;
  padding: 12px 0;
  margin-left: 16px;
  width: 120px;
}

table {
  margin-bottom: 32px;
}

tr:nth-child(odd) {
  background-color: #efefef;
}

td {
  border-radius: 8px;
  padding: 16px 24px;
}

.recipe-responsible {
  align-items: center;
  gap: 30px;
  margin-bottom: 32px;
}

.profile-picture {
  width: 70px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
}

.profile-picture-jan {
  width: 70px;
  height: 80px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
}
.profile-picture-kevin {
  width: 70px;
  height: 90px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
}

.name {
  font-size: 24px;
}
